async-generator==1.10
attrs==21.4.0
blinker==1.4
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.11
click==7.1.2
cryptography==36.0.1
dnspython==1.16.0
Flask==1.1.2
Flask-Mail==0.9.1
Flask-PyMongo==2.3.0
gunicorn==19.9.0
h11==0.13.0
idna==3.3
itsdangerous==1.1.0
Jinja2==2.11.2
linkedin-jobs-scraper==1.8.5
MarkupSafe==1.1.1
outcome==1.1.0
pycparser==2.21
pygal==3.0.0
pymongo==3.10.1
pyOpenSSL==22.0.0
python-http-client==3.2.7
requests==2.27.1
selenium==4.1.0
shortuuid==1.0.1
sniffio==1.2.0
sortedcontainers==2.4.0
trio==0.19.0
trio-websocket==0.9.2
urllib3==1.26.8
websocket-client==1.2.3
Werkzeug==1.0.1
wsproto==1.0.0
